div.demo{
    border: 1px solid rgb(255, 255, 255);
    width: 150px;
    height: 40px;
    text-align: center;
    float: left;
} 
div.demo:hover{
    border: 3px double black;
    cursor: pointer;
} 
div.icon:hover::after{
    position: absolute;
    left: 70px;
    top: 60px;
    padding: 5px;
    background-color: aliceblue;
    border: 5px;
    color: aqua;
    content: attr(xiebuwan);
    z-index: 2;
    width: 120px;
}
